<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding" text-align="center">
    <p style="text-align:center;"> Welcome to CometChat Pro</p>
      <ion-item> 
          <ion-label position="floating">Enter UID</ion-label>
          <ion-input type="text" [(ngModel)]="userUID"></ion-input>
        </ion-item>
        <br>
        <br>
        <ion-button expand="full" shape="round" (click)='onSubmit()'>Login</ion-button>
  </div>

</ion-content>
