<ion-header>
  <ion-toolbar color="mainColor">
    <ion-title style="color: white;">Groups</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="mainColor">
  <div>
    <ion-list class="groupList">
        <div *ngFor="let group of groupListArray">
            <ion-item (click)="tappedOnItems($event, group)">
                <ion-avatar slot="start">
                  <img src="{{group.icon || 'https://pbs.twimg.com/profile_images/857490466572443648/c05JqEgo_400x400.jpg' }}">
                </ion-avatar>
                <ion-label>
                    <h2>{{group.name}}</h2>
                    <ion-note><h3>{{group.description}}</h3></ion-note>
                </ion-label> 
            </ion-item>
          </div>
    </ion-list>
  </div>  
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadNextGroups($event)">
        <ion-infinite-scroll-content
          loadingSpinner="dots"
          loadingText="Loading more data...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
</ion-content>
